<div class="index-toolbar">
    <div class="wrap" id="loginHeader">
        <a href="../page/login.html">用户登录</a>|
        <a href="../page/register.html">用户注册</a>|
        <a href="../page/merchantRegister.html">商户注册</a>|
        <a href="../page/systemBackground.html">系统后台</a>
    </div>
</div>
<div class="page-main-box">
    <div style="font-size: 28px; color:#188eee; font-weight: bold; width:400px; line-height:30px; font-family:tahoma, arial, Microsoft YaHei, Hiragino Sans GB; padding: 15px 10px;"
         class="fn-left">
        在线订餐系统

    </div>
    <form id="searchForm2" >
        <input type="hidden" name="actiontype" value="search"/>
        <input type="hidden" name="forwardurl" value="/e/searchsp.jsp"/>
        <div class="search-box">
            <div class="search-text">
            </div>
            <div class="keyword">
                <input type="text" placeholder="美食名称" id="spname" name="spname">
            </div>
            <div class="so">
                <input type="submit" class="sobtn" id="btnSearch" value="搜索" name="btnSearch">
            </div>
            <div class="error-container">

            </div>
        </div>
    </form>
</div>
<div class="main-nav">
    <div class="wrap">
        <ul class="menus clearfix" id="foodTitle">
        </ul>
    </div>
</div>
<div class="fn-clear"></div>
<div class="pageinfo">
</div>